body {
    width: 1366px;
}

header {
    height: 80px;
    background-color: #2a2a2a;
}
.main-menu li{
    float: left;
}

.call {
  float: right;
  margin: 20px 100px 0 0;
}
.logo {
    width: 35px;
    height: 38px;
    margin: 21px 0px 21px 100px;
    display: block;
    background-image: url(image/logo-svg.png);
}
.logo:hover {
    opacity: 0.4;
}
.main-menu li a {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: None;
}
.main-menu li:not(:first-child) {
    margin-top: 28px;
    padding: 0px 24px;
}
.main-menu li:nth-child(2) {
    padding-left: 50px;
}
.main-menu li:last-child {
    padding-left: 25px;
}
.number {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
    text-decoration: none;
}
.tel {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-bottom: -2px;
}
.call button {
    width: 165px;
    height: 40px;
    border-radius: 20px;
    background-color: #2a2a2a;
    border: 1px solid #ffffff;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
}
